<style media="screen">


  /* .truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } */


  #elements {
    padding: 2%;
    padding-bottom: 3%;
    border-bottom: 2px solid #e6e9ed;
    background-color: ghostWhite;
    color: black;
  }

  .starredEmails {
    list-style-type: none;

  }

  .unstarredEmails {
  }


</style>

<div class="container">

  <div class="content">
    <div class="starredEmails">
      <ul id="test">
        <h3>Starred</h3>
          {{#each model as |email|}}
            {{#if email.starred}}
              <SingleEmail @email={{email}} @star={{action "star" email}} data-test="star-email" />
            {{/if}}
          {{/each}}
      </ul>
    </div>

    <div class="unstarredEmails">
      <ul id="test">
          {{#each model as |email|}}
            {{#unless email.starred}}
              <SingleEmail @email={{email}} @star={{action "star" email}} data-test="unstar-email" />
            {{/unless}}
          {{/each}}
      </ul>
    </div>
  </div>



</div>



{{outlet}}
