<style media="screen">
  .container: {
    width: 100%;
  }

  /* .truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } */


  #elements {
    padding: 2%;
    padding-bottom: 3%;
    border-bottom: 2px solid #e6e9ed;
    background-color: ghostWhite;
    color: black;
  }
</style>

<div class="container">
  <ul>
    <div class="content">
      <nav class="starred-navbar">
        <li>
          <h3 style="padding: 2%; margin-top: 0;">Starred</h3>
        </li>
      </nav>
      {{#each model as |email|}}
        <li id="elements">
          <div class="star">
            <StarButton @starred={{email.starred}} @onClick={{action "star" email}} />
          </div>
          <div class="starredEmails">
            {{#each model as |email|}}
              {{#if email.starred}}
                <SingleEmail @email={{email}}/>
              {{/if}}
            {{/each}}
          </div>
          <div class="unstarredEmails">
            {{#each model as |email|}}
              {{#unless email.starred}}
                <SingleEmail @email={{email}}/>
              {{/unless}}
            {{/each}}
          </div>


          <!-- {{#link-to "email" email.id}}
            <div class="emailFrom">
              <b>{{email.from}}</b>
            </div>
            <div class="emails">
                {{truncate-text email.subject}}
            </div>
          {{/link-to}} -->
        </li>
      {{/each}}
    </div>
  </ul>


</div>



{{outlet}}
